<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Add Category</title>
  </head>
  <body>
    <%- include("partials/navigation") %>
    <main>
      <h1>Add Category</h1>
      <% if (locals.errors) { errors.forEach((error) => {%>
      <p><strong><%= error.msg %></strong></p>
      <% })}; %>
      <form action="/categories/new" method="POST">
        <label>
          Title:
          <input type="text" name="title" />
        </label>
        <%- include("partials/goBackButton") %>
        <button type="submit">Submit</button>
      </form>
    </main>
  </body>
</html>
