<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Add Item</title>
  </head>
  <body>
    <%- include("partials/navigation") %>
    <main>
      <h1>Add Item</h1>
      <form action="/items/new" method="POST">
        <label>
          Title:
          <input type="text" name="title" />
        </label>
        <label>
          Category:
          <select name="categoryID">
            <% categories.forEach((category) => { %>
            <option value="<%= category.category_id %>">
              <%= category.title %>
            </option>
            <% }); %>
          </select>
        </label>
        <%- include("partials/goBackButton") %>
        <button type="submit">Submit</button>
      </form>
    </main>
  </body>
</html>
