<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/styles.css" />
    <title>Home</title>
  </head>
  <body>
    <%- include("./partials/navigation") %>
    <main>
      <h1>Inventory app for all things quad skates!</h1>
      <div class="content">
          <form action="/categories" method="GET">
            <button type="submit">View all categories</button>
          </form>
          <form action="/items" method="GET">
            <button type="submit">View all items</button>
          </form>
      </div>
    </main>
  </body>
</html>
