<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Home</title>
  </head>
  <body>
    <nav>
      <ul>
        <a href="/"><li>Home</li></a>
      </ul>
    </nav>
    <main>
      <h1>Inventory app for all things quad skates!</h1>
      <a href="/categories">View all categories</a>
      <a href="/items">View all items</a>
    </main>
  </body>
</html>
