* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  --navy: #192841;
  --light-grey: rgb(180, 180, 180);
  --light-blue: #0b7b9e;
  --red: #eb0000;
  font-size: 16px;
}

body {
  height: 100vh;
  display: grid;
  grid-template-rows: auto 1fr;
  font-family: sans-serif;
  color: var(--navy);
}

/* NAVIGATION BAR */
nav ul {
  background-color: var(--navy);
  display: flex;
  justify-content: center;
  gap: 30px;
}
nav li {
  list-style: none;
  color: white;
  padding: 20px;
}
nav a {
  color: inherit;
  text-decoration: none;
}
nav a:hover {
  text-decoration: underline;
}

/* MAIN */
main {
  background-color: whitesmoke;
  display: grid;
  grid-template-rows: repeat(3, min-content);
  grid-template-columns: minmax(300px, 1000px);
  justify-content: center;
  text-align: center;
}
main > h1 {
  padding: 20px;
}
main .content {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 300px));
  gap: 15px;
  grid-auto-rows: min-content;
  padding: 0 20px 20px 20px;
  justify-content: center;
}

/* HEADER */
header {
  display: flex;
  justify-content: center;
  gap: 20px;
  align-items: center;
  padding: 20px;
}

/* HOMEPAGE */
.home.content {
  grid-template-columns: auto auto;
  gap: 80px;
  padding: 20px;
}
.home.content > * {
  width: min-content;
}
.home.content > :first-child {
  margin-left: auto;
}

/* CARDS */
.card {
  background-color: white;
  display: grid;
  grid-auto-rows: auto auto auto auto;
  box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.2);
  border-radius: 5px;
  padding: 15px;
  gap: 10px;
}
.card h3 {
  text-transform: uppercase;
}

/* BUTTONS */
.buttons-container {
  display: flex;
  justify-content: center;
  gap: 10px;
}
button {
  text-wrap: nowrap;
  color: inherit;
  border: none;
  color: inherit;
  padding: 5px 10px;
  border-radius: 5px;
  height: 30px;
  width: 30px;
  background-color: transparent;
}
button:hover {
  outline: 1px solid var(--light-grey);
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.2);
  cursor: pointer;
  background-color: whitesmoke;
}
button:active {
  background-color: var(--light-grey);
  box-shadow: none;
  outline: none;
}
.width-min-content {
  width: min-content
}
button.primary {
  background-color: var(--light-blue);
  color: white;
  font-size: 1.1rem;
}
button.primary:active {
  background-color: var(--navy);
}

/* ICONS */
button::before {
  width: 20px;
  height: 20px;
  margin-left: -10px;
  margin-top: -10px;
  position: absolute; 
  content: "";
}
.update::before {
  background: url("icons/pencil.svg");
  background-size: cover;
}
.delete::before {
  background: url("icons/trash.svg");
  background-size: cover;
}
.show-items::before {
  background: url("icons/items.svg");
  background-size: cover;
}
.favicon::before {
  background: url("icons/favicon.svg");
  background-size: cover;
}
.cancel::before {
  background: url("icons/cancel.svg");
  background-size: cover;
}
.submit::before {
  background: url("icons/check.svg");
  background-size: cover;
}
.add::before {
  background: url("icons/add.svg");
  background-size: cover;
}

/* DELETE WARNING PAGE */
.red {
  color: var(--red);
}
.warning.content form {
  display: grid;
  gap: 10px;
}
.warning.content {
  grid-template-columns: minmax(200px, 500px);
}

/* FORMS */
input, select {
  border: 1px solid var(--light-grey);
  border-radius: 5px;
  padding: 5px 10px;
}
form.add-category, form.add-item, form.update-item {
  display: grid;
  align-items: center;
  justify-content: center;
  gap: 20px;
}
label {
  width: max-content;
  justify-self: center;
}

/* ERRORS CONTAINER */
.errors-container {
  margin-bottom: 20px;
  color: var(--red);
}
